<h1>Alphabetized Level</h1>
<a href="/alpha"><section class="menu">Replay?</section></a>
<a href="/menu"><section class="menu">Menu</section></a>

<% ('a'..'z').to_a.each do |letter| %>
  <div class="div<%= letter.upcase %>">
    <%= letter %>
  </div>
<% end %>
