<nav>
  <h1>
    Alphabetized Level
  </h1>
  <section class="navRight">
    <a href="/alpha">
      <li class="navLink">
        Replay
      </li>
    </a>
    <a href="/menu">
      <li class="navLink">
        Menu
      </li>
    </a>
  </section>
</nav>

<% ('a'..'z').to_a.each do |letter| %>
  <div class="div<%= letter.upcase %>">
    <%= letter %>
  </div>
<% end %>
