<nav>
  <a href="/menu">
    <h1>
      Alphabetized Level
    </h1>
  </a>
  <a href="/alpha">
    <li class="navLink">
      Replay
    </li>
  </a>
</nav>

<% ('a'..'z').to_a.each do |letter| %>
  <div class="div<%= letter.upcase %>">
    <%= letter %>
  </div>
<% end %>
