<h1 class="menuTitle"><span>L</span><span>e</span><span>t</span><span>t</span><span>e</span><span>r</span></h1>
<h1 class="menuTitle"><span>D</span><span>r</span><span>o</span><span>p</span><span>s</span></h1>

<form class="mainMenu" action="/alpha" method="get">
  <button type="submit" name="button">Alphabetized</button>
</form>

<br>

<form class="mainMenu" action="/random" method="get">
  <button type="submit" name="button">Randomized</button>
</form>

<br>

<form class="mainMenu" action="/words" method="get">
  <button type="submit" name="button">Words</button>
</form>
