<h1 class="menuTitle"><span>L</span><span>e</span><span>t</span><span>t</span><span>e</span><span>r</span></h1>
<h1 class="menuTitle"><span>D</span><span>r</span><span>o</span><span>p</span><span>s</span></h1>

<a href="/alpha"><section class="mainMenu">Alphabetized</section></a>

<br>

<a href="/random"><section class="mainMenu">Randomized</section></a>

<br>

<a href="/words"><section class="mainMenu">Words</section></a>
