<h1 id="menuTitle">LetterDrops Levels</h1>

<a href="/alpha"><section class="mainMenu">Alphabetized</section></a>

<br>

<a href="/random"><section class="mainMenu">Randomized</section></a>

<br>

<a href="/words"><section class="mainMenu">Words</section></a>
