<h1>Random Level</h1>
<a href="/random"><section class="menu">Replay</section></a>
<a href="/menu"><section class="menu">Menu</section></a>


<% nums = (1..26).to_a %>

<% ('a'..'z').to_a.shuffle.each do |letter| %>

    <% num = nums.sample %>
    <% index = nums.index(num) %>
    <% nums.delete(index) %>
    <div class="div<%= letter.upcase %>" id="drop<%= num %>">

    <%= letter %>

    </div>

<% end %>
