<nav>
  <h1>
    Randomized Level
  </h1>
  <section class="navRight">
    <a href="/random">
      <li class="navLink">
        Replay
      </li>
    </a>
    <a href="/menu">
      <li class="navLink">
        Menu
      </li>
    </a>
  </section>
</nav>


<% nums = (1..26).to_a %>

<% ('a'..'z').to_a.shuffle.each do |letter| %>

    <% num = nums.sample %>
    <% index = nums.index(num) %>
    <% nums.delete(index) %>
    <div class="div<%= letter.upcase %>" id="drop<%= num %>">

    <%= letter %>

    </div>

<% end %>
