<nav>
  <h1>
    Words Level
  </h1>
  <section class="navRight">
    <a href="/words">
      <li class="navLink">
        Replay
      </li>
    </a>
    <a href="/menu">
      <li class="navLink">
        Menu
      </li>
    </a>
  </section>
</nav>


<% nums = (1..26).to_a %>

<% @words_array.split(" ").each do |word| %>

<p class="wordDroplet"><%= word %></p>

<% end %>

<br>
<p class="liveText"></p>
