<body id="wordsBody">
<nav>
  <a href="/menu">
    <h1>
      Words Level
    </h1>
  </a>
  <li class="navLink">
    <%= form_tag('/log_out', method: :delete, :id => "logOut") do %>
     <%= submit_tag "Sign-Out" %>
     <% end %>
  </li>
  <a href="javascript:history.go(0)">
    <li class="navLink">
      Replay
    </li>
  </a>
</nav>

<% nums = (1..26).to_a %>

<% @words_array.split(" ").each do |word| %>

<p class="wordDroplet"><%= word %></p>

<% end %>

<p class="instructions">Type out the words to pop the WordDrops!</p>

<br>
<p class="liveText"></p>
</body>
