

////////////////////////
// Alpha animation delay
////////////////////////

.divA {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-delay: 1s;
  animation-delay: 1s;
}

.divB {
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  -o-animation-delay: 2s;
  animation-delay: 2s;
}

.divC {
  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
  -o-animation-delay: 3s;
  animation-delay: 3s;
}

.divD {
  -webkit-animation-delay: 4s;
  -moz-animation-delay: 4s;
  -o-animation-delay: 4s;
  animation-delay: 4s;
}

.divE {
  -webkit-animation-delay: 5s;
  -moz-animation-delay: 5s;
  -o-animation-delay: 5s;
  animation-delay: 5s;
}

.divF {
  -webkit-animation-delay: 8s;
  -moz-animation-delay: 8s;
  -o-animation-delay: 8s;
  animation-delay: 8s;
}

.divG {
  -webkit-animation-delay: 9s;
  -moz-animation-delay: 9s;
  -o-animation-delay: 9s;
  animation-delay: 9s;
}

.divH {
  -webkit-animation-delay: 10s;
  -moz-animation-delay: 10s;
  -o-animation-delay: 10s;
  animation-delay: 10s;
}

.divI {
  -webkit-animation-delay: 11s;
  -moz-animation-delay: 11s;
  -o-animation-delay: 11s;
  animation-delay: 11s;
}

.divJ {
  -webkit-animation-delay: 13s;
  -moz-animation-delay: 13s;
  -o-animation-delay: 13s;
  animation-delay: 13s;
}

.divK {
  -webkit-animation-delay: 14s;
  -moz-animation-delay: 14s;
  -o-animation-delay: 14s;
  animation-delay: 14s;
}

.divL {
  -webkit-animation-delay: 15s;
  -moz-animation-delay: 15s;
  -o-animation-delay: 15s;
  animation-delay: 15s;
}

.divM {
  -webkit-animation-delay: 16s;
  -moz-animation-delay: 16s;
  -o-animation-delay: 16s;
  animation-delay: 16s;
}

.divN {
  -webkit-animation-delay: 17s;
  -moz-animation-delay: 17s;
  -o-animation-delay: 17s;
  animation-delay: 17s;
}

.divO {
  -webkit-animation-delay: 18s;
  -moz-animation-delay: 18s;
  -o-animation-delay: 18s;
  animation-delay: 18s;
}

.divP {
  -webkit-animation-delay: 18s;
  -moz-animation-delay: 18s;
  -o-animation-delay: 18s;
  animation-delay: 18s;
}

.divQ {
  -webkit-animation-delay: 19s;
  -moz-animation-delay: 19s;
  -o-animation-delay: 19s;
  animation-delay: 19s;
}

.divR {
  -webkit-animation-delay: 20s;
  -moz-animation-delay: 20s;
  -o-animation-delay: 20s;
  animation-delay: 20s;
}

.divS {
  -webkit-animation-delay: 21s;
  -moz-animation-delay: 21s;
  -o-animation-delay: 21s;
  animation-delay: 21s;
}

.divT {
  -webkit-animation-delay: 22s;
  -moz-animation-delay: 22s;
  -o-animation-delay: 22s;
  animation-delay: 22s;
}

.divU {
  -webkit-animation-delay: 23s;
  -moz-animation-delay: 23s;
  -o-animation-delay: 23s;
  animation-delay: 23s;
}

.divV {
  -webkit-animation-delay: 24s;
  -moz-animation-delay: 24s;
  -o-animation-delay: 24s;
  animation-delay: 24s;
}

.divW {
  -webkit-animation-delay: 25s;
  -moz-animation-delay: 25s;
  -o-animation-delay: 25s;
  animation-delay: 25s;
}

.divX {
  -webkit-animation-delay: 26s;
  -moz-animation-delay: 26s;
  -o-animation-delay: 26s;
  animation-delay: 26s;
}

.divY {
  -webkit-animation-delay: 27s;
  -moz-animation-delay: 27s;
  -o-animation-delay: 27s;
  animation-delay: 27s;
}

.divZ {
  -webkit-animation-delay: 28s;
  -moz-animation-delay: 28s;
  -o-animation-delay: 28s;
  animation-delay: 28s;
}
