// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

.menu {
  width: 150px;
  height: 75px;
  background-color: white;
  border: solid black 1px;
  color: black;
  display: none;
  line-height: 75px;
  margin: 5px auto;
  text-align: center;
}

.menu:hover {
  background-color: black;
  color: white;
}

div {
  width: 100px;
  height: 100px;
  border: solid black 1px;
  border-radius: 100px;
  display: inline-block;
  font-size: 50px;
  line-height: 100px;
  position: relative;
  text-align: center;
  top: -1000px;
  animation: drop 20s;
  animation-delay: 1s;
}

@keyframes drop {
  0% { top: -1000px;}
  100% { top: 800px;}
}

@-webkit-keyframes drop {
  0% { top: -1000px;}
  100% { top: 800px;}
}


////////////////////////
// Alpha animation delay
////////////////////////

.divB {
  animation-delay: 2s;
}

.divC {
  animation-delay: 3s;
}

.divD {
  animation-delay: 4s;
}

.divE {
  animation-delay: 5s;
}

.divF {
  animation-delay: 8s;
}

.divG {
  animation-delay: 9s;
}

.divH {
  animation-delay: 10s;
}

.divI {
  animation-delay: 11s;
}

.divJ {
  animation-delay: 13s;
}

.divK {
  animation-delay: 14s;
}

.divL {
  animation-delay: 15s;
}

.divM {
  animation-delay: 16s;
}

.divN {
  animation-delay: 17s;
}

.divO {
  animation-delay: 18s;
}

.divP {
  animation-delay: 18s;
}

.divQ {
  animation-delay: 19s;
}

.divR {
  animation-delay: 20s;
}

.divS {
  animation-delay: 21s;
}

.divT {
  animation-delay: 22s;
}

.divU {
  animation-delay: 23s;
}

.divV {
  animation-delay: 24s;
}

.divW {
  animation-delay: 25s;
}

.divX {
  animation-delay: 26s;
}

.divY {
  animation-delay: 27s;
}

.divZ {
  animation-delay: 28s;
}


/////////////////////////
// Random animation delay
/////////////////////////

#drop1 {
  animation-delay: 2s;
}

#drop2 {
  animation-delay: 3s;
}

#drop3 {
  animation-delay: 4s;
}

#drop4 {
  animation-delay: 5s;
}

#drop5 {
  animation-delay: 6s;
}

#drop6 {
  animation-delay: 7s;
}

#drop7 {
  animation-delay: 8s;
}

#drop8 {
  animation-delay: 9s;
}

#drop9 {
  animation-delay: 10s;
}

#drop10 {
  animation-delay: 12s;
}

#drop11 {
  animation-delay: 13s;
}

#drop12 {
  animation-delay: 14s;
}

#drop13 {
  animation-delay: 15s;
}

#drop14 {
  animation-delay: 16s;
}

#drop15 {
  animation-delay: 17s;
}

#drop16 {
  animation-delay: 19s;
}

#drop17 {
  animation-delay: 20s;
}

#drop18 {
  animation-delay: 21s;
}

#drop19 {
  animation-delay: 22s;
}

#drop20 {
  animation-delay: 23s;
}

#drop21 {
  animation-delay: 24s;
}

#drop22 {
  animation-delay: 25s;
}

#drop23 {
  animation-delay: 26s;
}

#drop24 {
  animation-delay: 27s;
}

#drop25 {
  animation-delay: 28s;
}

#drop26 {
  animation-delay: 29s;
}
