// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: sans-serif;
}

.fallingPages {
  overflow-x: hidden;
  overflow-y: hidden;
}

#homeInputs input {
  width: 300px;
  height: 50px;
  display: block;
  font-size: 30px;
  line-height: 50px;
  margin: 10px auto;
  text-align: center;
}

nav input[type="submit"] {
  width: 150px;
  height: 75px;
  background: none;
  border: none;
  display: inline-block;
  float: right;
  font-size: 15.5px;
  line-height: 75px;
  text-align: center;
}

nav input[type="submit"]:hover {
  color: white;
}
.menuTitle {
  margin: 40px auto 60px auto;
  text-align: center;
}

.menuTitle span {
  border: solid lightblue 5px;
  border-radius: 100px;
  padding: 25px;
}

a {
  text-decoration: none;
}

nav {
  height: 75px;
  width: 100%;
  line-height: 75px;
}

nav h1 {
  height: 75px;
  width: 220px;
  display: inline-block;
  margin: 0px;
  text-align: center;
}

nav h1:hover {
  background-color: lightblue;
  color: white;
}

nav a {
  color: black;
  text-decoration: none;
}

.navLink {
  width: 150px;
  display: block;
  float: right;
  margin: 0px;
  text-align: center;
}

.navLink:hover {
  background-color: lightblue;
  color: white;
}


.menu {
  width: 150px;
  height: 75px;
  background-color: white;
  border: solid black 1px;
  color: black;
  display: none;
  line-height: 75px;
  margin: 5px auto;
  text-align: center;
}

.menu:hover {
  background-color: lightblue;
  color: white;
}

.mainMenu {
  width: 150px;
  height: 75px;
  background-color: white;
  color: black;
  display: block;
  line-height: 75px;
  margin: 5px auto;
  text-align: center;
}

.mainMenu:hover {
  background-color: lightblue;
  color: white;
}

div {
  width: 100px;
  height: 100px;
  border: solid lightblue 5px;
  border-radius: 100px;
  display: inline-block;
  font-size: 50px;
  line-height: 100px;
  position: relative;
  text-align: center;
  top: -1000px;
  animation: drop 20s alternate;
}

@keyframes drop {
  0% { top: -850px;}
  33%{left:0px;}
  66%{left: 100px;}
  99% {left:0px;}
  100% { top: 800px;}
}

@-webkit-keyframes drop {
  0% { top: -850px;}
  33%{left:0px;}
  66%{left: 100px;}
  99% {left:0px;}
  100% { top: 800px;}
}
