// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

#newGame {
  width: 200px;
  height: 100px;
  background-color: rgba(0,0,0,.5);
  color: white;
  display: none;
  line-height: 100px;
  margin: 0 auto;
  text-align: center;
}

#newGame:hover {
  background-color: rgba(150,150,150, .5);
  border: solid black 1px;
  color: black;
}

div {
  width: 100px;
  height: 100px;
  border: solid black 1px;
  border-radius: 100px;
  display: inline-block;
  font-size: 50px;
  line-height: 100px;
  position: relative;
  text-align: center;
  top: -1000px;
  animation: drop 15s;
  animation-delay: 1s;
}

@keyframes drop {
  0% { top: -1000px;}
  100% { top: 800px;}
}

@-webkit-keyframes drop {
  0% { top: -1000px;}
  100% { top: 800px;}
}

.divB {
  animation-delay: 2s;
}

.divC {
  animation-delay: 3s;
}

.divD {
  animation-delay: 4s;
}

.divE {
  animation-delay: 5s;
}

.divF {
  animation-delay: 8s;
}

.divG {
  animation-delay: 9s;
}

.divH {
  animation-delay: 10s;
}

.divI {
  animation-delay: 11s;
}

.divJ {
  animation-delay: 13s;
}

.divK {
  animation-delay: 14s;
}

.divL {
  animation-delay: 15s;
}

.divM {
  animation-delay: 16s;
}

.divN {
  animation-delay: 17s;
}

.divO {
  animation-delay: 18s;
}

.divP {
  animation-delay: 18s;
}

.divQ {
  animation-delay: 19s;
}

.divR {
  animation-delay: 20s;
}

.divS {
  animation-delay: 21s;
}

.divT {
  animation-delay: 22s;
}

.divU {
  animation-delay: 23s;
}

.divV {
  animation-delay: 24s;
}

.divW {
  animation-delay: 25s;
}

.divX {
  animation-delay: 26s;
}

.divY {
  animation-delay: 27s;
}

.divZ {
  animation-delay: 28s;
}
