#wordsBody {
  width: 100%;
  height: 900px;
  background-image: url(./cell-shade-hills.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow-x: hidden;
  overflow-y: hidden;
}

.wordDroplet {
  height: 40px;
  width: auto;
  background-color: rgba(255,255,255,.6);
  border: solid lightblue 5px;
  border-radius: 200px;
  display: inline-block;
  font-size: 30px;
  line-height: 40px;
  margin: 10px;
  padding: 15px;
  position: relative;
  text-align: center;
}

.liveText {
  height: 100px;
  width: 90%;
  background-color: rgba(255,255,255,.6);
  display: block;
  font-size: 90px;
  line-height: 100px;
  margin: 10px auto;
  text-align: center;
  text-decoration: underline;
}
